<form
  tuiTableMode
  tuiTextfieldSize="m"
  [formGroup]="form"
  *tuiLet="serviceListData$ | async as services"
>
  <div class="table-filters">
    <tui-hosted-dropdown [content]="dropdown" [canOpen]="false">
      <button tuiButton size="s" [iconRight]="arrow" [disabled]="true">
        Колонки
      </button>
      <ng-template #dropdown>
        <tui-reorder
          class="columns"
          [enabled]="enabled"
          [(items)]="columns"
          (enabledChange)="onEnabled($event)"
        ></tui-reorder>
      </ng-template>
    </tui-hosted-dropdown>
  </div>

  <table tuiTable class="table" formArrayName="tableRowArray">
    <thead>
      <tr>
        <th tuiTh>Дата</th>
        <th tuiTh>Название</th>
        <th tuiTh>Ед. из.</th>
        <th tuiTh>Кол-во</th>
        <th tuiTh>Цена</th>
        <th tuiTh>Сумма</th>
        <th tuiTh></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let itemRow of tableRowArray.controls;
          let i = index;
          let l = last
        "
        [formGroupName]="i"
      >
        <td tuiTd class="cell cell--date">
          <tui-input-date
            class="_isEditable"
            tuiTextfieldSize="m"
            formControlName="date"
            *ngIf="!hideDateColumn"
          >
            Дата
          </tui-input-date>
        </td>
        <td tuiTd>
          <tui-select
            #select
            formControlName="name"
            [valueContent]="valueContent"
            (ngModelChange)="selectedService($event, i)"
          >
            Название
            <tui-data-list *tuiDataList>
              <tui-opt-group
                [label]="serviceGroups.groupName"
                *ngFor="let serviceGroups of services"
              >
                <button
                  *ngFor="let service of serviceGroups.items"
                  tuiOption
                  [value]="service"
                  class="btn-menu-item"
                >
                  {{ service.name }}
                </button>
              </tui-opt-group>
            </tui-data-list>
          </tui-select>
        </td>
        <td tuiTd formGroupName="unit" class="cell cell--unit">
          <tui-input
            [readOnly]="true"
            tuiTextfieldSize="m"
            formControlName="shortName"
          ></tui-input>
        </td>
        <td tuiTd formGroupName="count" class="cell cell--count">
          <tui-input-count
            formControlName="amount"
            [readOnly]="true"
            [class._isEditable]="getFormArray(i)?.count?.isEditable"
            [readOnly]="!getFormArray(i)?.count?.isEditable"
            (ngModelChange)="calculateSum(itemRow, i)"
          ></tui-input-count>
        </td>
        <td tuiTd formGroupName="price" class="cell cell--price">
          <tui-input-number
            formControlName="amount"
            [class._isEditable]="getFormArray(i)?.isFreePrice"
            [readOnly]="getFormArray(i)?.isFreePrice != true"
            (ngModelChange)="calculateSum(itemRow, i)"
          >
          </tui-input-number>
        </td>
        <td tuiTd formGroupName="totalSum" class="cell cell--sum">
          <tui-input-number
            formControlName="amount"
            tuiTextfieldSize="m"
            [readOnly]="true"
          >
          </tui-input-number>
        </td>
        <td tuiTd class="cell cell--delete">
          <button
            appearance="icon"
            tuiIconButton
            [icon]="
              tableRowArray.length === 1 ? 'tuiIconMinus' : 'tuiIconTrash'
            "
            type="button"
            size="s"
            (click)="deleteRow(i)"
            [disabled]="tableRowArray.length === 1"
          ></button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<button
  tuiButton
  type="button"
  size="s"
  class="tui-space_right-3 tui-space_bottom-3 tui-space_top-3 btn-add"
  (click)="addNewRow()"
  [disabled]="form.invalid"
>
  Добавить строку
</button>

<pre>{{ form.get("tableRowArray")?.value | json }}</pre>

<!-- <pre>{{ serviceListData$ | async | json }}</pre> -->

<ng-template #valueContent let-data>
  <div class="itemContent">
    <div class="itemContent__name">{{ data?.name }}</div>
  </div>
</ng-template>

<!-- <ng-template #itemContent let-data>
  <div class="itemContent">
    <div class="itemContent__name">{{ data?.name }}</div>
    <tui-money
      class="itemContent__amount"
      [value]="data.price.amount"
    ></tui-money>
  </div>
</ng-template> -->
