.btn-add {
  width: 100%;
  border-radius: 5px;
}

.table-filters {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.cell {
  &&--date {
    width: 145px;
    flex: 0 0 145px;
  }

  &&--count {
    width: 90px;
    flex: 0 0 90px;
    text-align: right;
  }

  &&--count,
  &&--unit {
    width: 100px;
    flex: 0 0 150px;
  }

  &&--price,
  &&--sum {
    width: 150px;
    flex: 0 0 150px;
  }

  &&--price {
    text-align: right;
  }

  &&--delete {
    padding: 0;
    max-width: 56px;
    color: var(--tui-base-05);
    text-align: center;

    &._hovered {
      color: var(--tui-base-03);
    }
    &._pressed {
      color: var(--tui-accent-active);
    }
  }
}

:host ::ng-deep {
  [tuiWrapper][data-appearance="table"] {
    .t-input {
      white-space: normal;
    }

    .itemContent .itemContent__name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  ._isEditable [tuiWrapper][data-appearance="table"] {
    font-weight: 600;
    color: #3b82f6;
  }
}
