<section class="menu">
  <div class="menu__logo">Logo</div>
  <tui-scrollbar class="menu__list">
    <ng-container *ngFor="let item of menu">
      <div class="menu__list-item" routerLinkActive="_active">
        <button
          class="menu__list-item-btn"
          tuiIconButton
          type="button"
          appearance="icon"
          class="tui-space_bottom-2"
          [icon]="item.icon"
          [routerLink]="[item.url]"
          routerLinkActive="active"
          *ngIf="item.type === 'menu'"
          [disabled]="item.disabled!"
          [tuiHint]="item.name"
          tuiHintDirection="right"
        ></button>
        <hr class="menu__list-divider" *ngIf="item.type === 'divider'" />
      </div>
    </ng-container>

    <div class="menu__list-item">
      <button
        class="menu__list-item-btn"
        tuiIconButton
        type="button"
        appearance="icon"
        class="tui-space_bottom-2"
        icon="tuiIconLogoutLarge"
        tuiHint="Выйти"
        tuiHintDirection="right"
        (click)="logout()"
      ></button>
    </div>
  </tui-scrollbar>
</section>
